header section {
    display: flex;
    background: #000;
    height: 425px;
}

.img {
    width: 70%;
    margin: auto;
    height: 310px;
    border-radius: 43%;
    background: url(../img/Logo/logo2.png) center/cover;
}

.custom-navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 4px solid #5c5c5c;
    background: #3D3D3D;
}

.navbar-nav li {
    display: inline-block; 
    margin-right: 10px; 
}

nav form {
    border-right: 4px solid #5C5C5C;
    border-left: 4px solid #5C5C5C;
}

.custom-navbar-toggler {
    border: none;
    border-radius: 5px; 
    padding: 8px 12px; 
    color: white; 
}

/* Style personnalisé pour l'icône de basculement */
.custom-navbar-toggler-icon {
    width: 3.2rem;
    height: 3.2rem;
}

/* Style au survol */
.custom-navbar-toggler:hover {
   background: none;
}

form .form-control { 
    margin: auto;
    border: none;
    background: #651616;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 18px;
    padding: 12px;
}

form .form-control:focus {
    box-shadow: none;
    background: #651616ca;
    border: none;
    outline: none;
}

form button {
    border: none;
    background: none;
    padding: 0;
}

form button i {
    border: none;
    padding-top: 13px;
    color: #5C5C5C;
    background: #651616;
    border-radius: 0 50px 50px 0;
    height: 100%;
    outline: none;
    font-size: 20px;
}

form input::placeholder {
    color: #5C5C5C;
    font-family: "Raleway";
    font-size: 1.2rem;
}

.icons i {
    font-size: 30px;
    color: #5C5C5C;
    cursor: pointer;
}

.icons i:hover {
    color: #6a6a6a;
}

.icons i:first-of-type {
    border-right: 4px solid #5c5c5c;
    height: 83px;
    padding-top: 26px;
}

.presentation {
    position: relative;
    background: url(../img/Photos/Image_homme/presentation.png) center/cover;
    height: 395px;
}

.presentation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 244, 244, 0.349); 
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 85px;
}

.title h1 {
    color: #0c0c0c;
    font-size: 3.5rem;
    font-family: "Oswald";
    font-weight: 300;
    margin: 0;
}
.title span {
    font-weight: 600;
}

.title h2 {
    color: #0c0c0c;
    font-size: 1.8rem;
    font-family: "Playfair display";
    font-weight: 600;
    margin: 0;
    color: #651616;
}

.new {
    background:#3D3D3D;
}

.new img {
    width: 100%;
    height: 100%;
}

.new-description {
    background: #070709;
    border-top: 5px solid #3D3D3D;
    height: 180px;
    padding-top: 20px;
}

.new-description h3 {
    color: #fff;
    font-size: 1.4rem;
    font-family: "Oswald";
    font-weight: 500;
    margin: 0;
}

.new-description p {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Playfair Display";
    font-weight: 300;
    margin: 0;
}

.new-description .btn {
    background: #651616;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Raleway";
    font-weight: 300;
    margin-top: 10px;
    border-radius: 0;
}

.new-description .btn:hover {
    background: #651616b9;
}

.favoris h2 {
    color: #0c0c0c;
    font-size: 2rem;
    font-family: "Oswald";
    font-weight: 600;
    margin-bottom: 18px;
}

.favoris .cards {
    gap: 30px;
}

.favoris .card {
    border-radius: 8px;
    border: 5px solid #651616;
}

.favoris .info-favorite {
    background: #070709;
}

.favoris h3 {
    color: #fffafa;
    font-size: 1.7rem;
    font-family: "Oswald";
    font-weight: 400;
}

.favoris p {
    color: #fffafa;
    font-size: 1.5rem;
    font-family: "Oswald";
    font-weight: 300;
    margin: 0;
}

.favoris .btn {
    background: #651616;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Raleway";
    font-weight: 300;
    margin: -30px auto 0 auto;
    border-radius: 0 0 8px 8px;
    width: 40%;
}

.favoris i {
    font-size: 1.5rem;
    color: #fffafa;
    transition: all 0.3s ease-in-out;
}

.favoris .btn:hover i {
    transform: scale(1.2);
}